### Rent price evolution per neighbourhood. 2019 - 2020 comparison

In [1]:
import numpy as np
import pandas as pd

In [2]:
rent_19 = pd.read_csv('../datasets/2019_lloguer_preu_trim.csv')
rent_20 = pd.read_csv('../datasets/2020_lloguer_preu_trim.csv')

In [3]:
rent_19

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2019,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),822.6
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1060.9
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),891.3
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),990.2
4,2019,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),957.2
...,...,...,...,...,...,...,...,...
579,2019,4,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),18.5
580,2019,4,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.8
581,2019,4,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),14.5
582,2019,4,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),12.0
583,2019,4,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.4

In [4]:
col_names_19 = ["Year", "Quarter", "District_Code", "District_Name", "Neighbor_Code", "Neighbor_Name", "Average_Rent", "Price"]

In [5]:
rent_19.columns = col_names_19

In [6]:
rent_19.drop(["District_Code","Neighbor_Code"], axis=1, inplace = True)

In [7]:
rent_19["Average_Rent"].value_counts()

Lloguer mitjà mensual (Euros/mes)              292
Lloguer mitjà per superfície (Euros/m2 mes)    292
Name: Average_Rent, dtype: int64

In [8]:
e_mes_19 = rent_19[rent_19["Average_Rent"] == "Lloguer mitjà mensual (Euros/mes)"]

In [9]:
e_mes_19

,Year,Quarter,District_Name,Neighbor_Name,Average_Rent,Price
0,2019,1,Ciutat Vella,el Raval,Lloguer mitjà mensual (Euros/mes),822.6
1,2019,1,Ciutat Vella,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1060.9
2,2019,1,Ciutat Vella,la Barceloneta,Lloguer mitjà mensual (Euros/mes),891.3
3,2019,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),990.2
4,2019,1,Eixample,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),957.2
...,...,...,...,...,...,...
506,2019,4,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà mensual (Euros/mes),1498.6
507,2019,4,Sant Martí,el Besòs i el Maresme,Lloguer mitjà mensual (Euros/mes),693.8
508,2019,4,Sant Martí,Provençals del Poblenou,Lloguer mitjà mensual (Euros/mes),1013.6
509,2019,4,Sant Martí,Sant Martí de Provençals,Lloguer mitjà mensual (Euros/mes),835.7
510,2019,4,Sant Martí,la Verneda i la Pau,Lloguer mitjà mensual (Euros/mes),781.0

In [10]:
wo_Q1_19 = e_mes_19.drop(e_mes_19[e_mes_19.Quarter == 1].index)
wo_Q3_19 = wo_Q1_19.drop(wo_Q1_19[wo_Q1_19.Quarter == 3].index)
Q2_price_19 = wo_Q3_19.drop(wo_Q3_19[wo_Q3_19.Quarter == 4].index)
Q2_price_19

,Year,Quarter,District_Name,Neighbor_Name,Average_Rent,Price
146,2019,2,Ciutat Vella,el Raval,Lloguer mitjà mensual (Euros/mes),867.0
147,2019,2,Ciutat Vella,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1112.1
148,2019,2,Ciutat Vella,la Barceloneta,Lloguer mitjà mensual (Euros/mes),924.0
149,2019,2,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1010.1
150,2019,2,Eixample,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),988.7
...,...,...,...,...,...,...
214,2019,2,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà mensual (Euros/mes),1388.1
215,2019,2,Sant Martí,el Besòs i el Maresme,Lloguer mitjà mensual (Euros/mes),844.5
216,2019,2,Sant Martí,Provençals del Poblenou,Lloguer mitjà mensual (Euros/mes),960.1
217,2019,2,Sant Martí,Sant Martí de Provençals,Lloguer mitjà mensual (Euros/mes),844.1
218,2019,2,Sant Martí,la Verneda i la Pau,Lloguer mitjà mensual (Euros/mes),798.1

In [11]:
Q2_price_19["District_Name"].value_counts()

Nou Barris             13
Horta-Guinardó         11
Sant Martí             10
Sants-Montjuïc          8
Sant Andreu             7
Sarrià-Sant Gervasi     6
Eixample                6
Gràcia                  5
Ciutat Vella            4
Les Corts               3
Name: District_Name, dtype: int64

In [12]:
Q2_price_19["Price"].mean()

922.4895522388059

In [13]:
price_by_hood_19 = Q2_price_19.groupby(["District_Name","Neighbor_Name"])["Price"].mean()
price_by_hood_19

District_Name        Neighbor_Name
Ciutat Vella         Sant Pere, Santa Caterina i la Ribera    1010.1
                     el Barri Gòtic                           1112.1
                     el Raval                                  867.0
                     la Barceloneta                            924.0
Eixample             Sant Antoni                               985.2
                                                               ...
Sarrià-Sant Gervasi  Sant Gervasi - la Bonanova               1310.0
                     Sarrià                                   1334.2
                     Vallvidrera, el Tibidabo i les Planes    1121.6
                     el Putxet i el Farró                     1115.7
                     les Tres Torres                          1602.5
Name: Price, Length: 73, dtype: float64

In [14]:
price_by_district_19 = Q2_price_19.groupby(["District_Name"])["Price"].mean()
price_by_district_19

District_Name
Ciutat Vella            978.300000
Eixample               1061.233333
Gràcia                  935.480000
Horta-Guinardó          795.780000
Les Corts              1268.266667
Nou Barris              688.320000
Sant Andreu             750.316667
Sant Martí             1001.650000
Sants-Montjuïc          834.328571
Sarrià-Sant Gervasi    1307.383333
Name: Price, dtype: float64

In [15]:
Q2_District_Mean19 = Q2_price_19.groupby(["District_Name"]).mean().sort_values("Price", ascending = False)
Q2_District_Mean19

                     Year  Quarter        Price
District_Name
Sarrià-Sant Gervasi  2019        2  1307.383333
Les Corts            2019        2  1268.266667
Eixample             2019        2  1061.233333
Sant Martí           2019        2  1001.650000
Ciutat Vella         2019        2   978.300000
Gràcia               2019        2   935.480000
Sants-Montjuïc       2019        2   834.328571
Horta-Guinardó       2019        2   795.780000
Sant Andreu          2019        2   750.316667
Nou Barris           2019        2   688.320000

In [16]:
Q2_District_Mean19

                     Year  Quarter        Price
District_Name
Sarrià-Sant Gervasi  2019        2  1307.383333
Les Corts            2019        2  1268.266667
Eixample             2019        2  1061.233333
Sant Martí           2019        2  1001.650000
Ciutat Vella         2019        2   978.300000
Gràcia               2019        2   935.480000
Sants-Montjuïc       2019        2   834.328571
Horta-Guinardó       2019        2   795.780000
Sant Andreu          2019        2   750.316667
Nou Barris           2019        2   688.320000

In [17]:
Q2_District_Mean19.drop(["Quarter","Year"], axis=1, inplace = True)

In [18]:
Q2_District_Mean19

                           Price
District_Name
Sarrià-Sant Gervasi  1307.383333
Les Corts            1268.266667
Eixample             1061.233333
Sant Martí           1001.650000
Ciutat Vella          978.300000
Gràcia                935.480000
Sants-Montjuïc        834.328571
Horta-Guinardó        795.780000
Sant Andreu           750.316667
Nou Barris            688.320000

In [19]:
min_price_by_district_19 = Q2_price_19.groupby(["District_Name"])["Price"].min()
min_price_by_district_19

District_Name
Ciutat Vella            867.0
Eixample                942.9
Gràcia                  819.8
Horta-Guinardó          666.9
Les Corts               973.0
Nou Barris              559.8
Sant Andreu             614.7
Sant Martí              798.1
Sants-Montjuïc          753.1
Sarrià-Sant Gervasi    1115.7
Name: Price, dtype: float64

In [20]:
max_price_by_district_19 = Q2_price_19.groupby(["District_Name"])["Price"].max()
max_price_by_district_19

District_Name
Ciutat Vella           1112.1
Eixample               1277.9
Gràcia                 1028.9
Horta-Guinardó         1044.0
Les Corts              1746.7
Nou Barris              775.3
Sant Andreu             836.9
Sant Martí             1444.6
Sants-Montjuïc          867.5
Sarrià-Sant Gervasi    1602.5
Name: Price, dtype: float64

In [21]:
Q2_price_19["Price"].mean()

922.4895522388059

In [22]:
std_price_by_district_19 = Q2_price_19.groupby(["District_Name"])["Price"].std()
std_price_by_district_19

District_Name
Ciutat Vella           106.848584
Eixample               125.670103
Gràcia                  79.853096
Horta-Guinardó         105.138806
Les Corts              418.109368
Nou Barris              70.822655
Sant Andreu             90.629011
Sant Martí             234.969862
Sants-Montjuïc          39.850459
Sarrià-Sant Gervasi    179.932181
Name: Price, dtype: float64

In [23]:
rent_20

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2020,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),864.5
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1110.2
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),899.5
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1030.0
4,2020,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),1059.9
...,...,...,...,...,...,...,...,...
287,2020,2,10,Sant Martí,69,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),17.0
288,2020,2,10,Sant Martí,70,el Besòs i el Maresme,Lloguer mitjà per superfície (Euros/m2 mes),10.5
289,2020,2,10,Sant Martí,71,Provençals del Poblenou,Lloguer mitjà per superfície (Euros/m2 mes),15.1
290,2020,2,10,Sant Martí,72,Sant Martí de Provençals,Lloguer mitjà per superfície (Euros/m2 mes),11.8
291,2020,2,10,Sant Martí,73,la Verneda i la Pau,Lloguer mitjà per superfície (Euros/m2 mes),11.2

In [24]:
col_names_20 = ["Year", "Quarter", "District_Code", "District_Name", "Neighbor_Code", "Neighbor_Name", "Average_Rent", "Price"]

In [25]:
rent_20.columns = col_names_20

In [26]:
rent_20.drop(["District_Code","Neighbor_Code"], axis=1, inplace = True)

In [27]:
e_mes_20 = rent_20[rent_20["Average_Rent"] == "Lloguer mitjà mensual (Euros/mes)"]

In [28]:
e_mes_20

,Year,Quarter,District_Name,Neighbor_Name,Average_Rent,Price
0,2020,1,Ciutat Vella,el Raval,Lloguer mitjà mensual (Euros/mes),864.5
1,2020,1,Ciutat Vella,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1110.2
2,2020,1,Ciutat Vella,la Barceloneta,Lloguer mitjà mensual (Euros/mes),899.5
3,2020,1,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),1030.0
4,2020,1,Eixample,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),1059.9
...,...,...,...,...,...,...
214,2020,2,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà mensual (Euros/mes),840.9
215,2020,2,Sant Martí,el Besòs i el Maresme,Lloguer mitjà mensual (Euros/mes),665.3
216,2020,2,Sant Martí,Provençals del Poblenou,Lloguer mitjà mensual (Euros/mes),1044.5
217,2020,2,Sant Martí,Sant Martí de Provençals,Lloguer mitjà mensual (Euros/mes),854.3
218,2020,2,Sant Martí,la Verneda i la Pau,Lloguer mitjà mensual (Euros/mes),755.4

In [29]:
wo_Q1_20 = e_mes_20.drop(e_mes_20[e_mes_20.Quarter == 1].index)
wo_Q3_20 = wo_Q1_20.drop(wo_Q1_20[wo_Q1_20.Quarter == 3].index)
Q2_price_20 = wo_Q3_20.drop(wo_Q3_20[wo_Q3_20.Quarter == 4].index)
Q2_price_20

,Year,Quarter,District_Name,Neighbor_Name,Average_Rent,Price
146,2020,2,Ciutat Vella,el Raval,Lloguer mitjà mensual (Euros/mes),827.3
147,2020,2,Ciutat Vella,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),1041.0
148,2020,2,Ciutat Vella,la Barceloneta,Lloguer mitjà mensual (Euros/mes),856.5
149,2020,2,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),895.8
150,2020,2,Eixample,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),999.9
...,...,...,...,...,...,...
214,2020,2,Sant Martí,Diagonal Mar i el Front Marítim del Poblenou,Lloguer mitjà mensual (Euros/mes),840.9
215,2020,2,Sant Martí,el Besòs i el Maresme,Lloguer mitjà mensual (Euros/mes),665.3
216,2020,2,Sant Martí,Provençals del Poblenou,Lloguer mitjà mensual (Euros/mes),1044.5
217,2020,2,Sant Martí,Sant Martí de Provençals,Lloguer mitjà mensual (Euros/mes),854.3
218,2020,2,Sant Martí,la Verneda i la Pau,Lloguer mitjà mensual (Euros/mes),755.4

In [30]:
Q2_price_20["District_Name"].value_counts()

Nou Barris             13
Horta-Guinardó         11
Sant Martí             10
Sants-Montjuïc          8
Sant Andreu             7
Sarrià-Sant Gervasi     6
Eixample                6
Gràcia                  5
Ciutat Vella            4
Les Corts               3
Name: District_Name, dtype: int64

In [31]:
Q2_price_20["Price"].mean()

909.1848484848485

In [32]:
price_by_hood_20 = Q2_price_20.groupby(["District_Name","Neighbor_Name"])["Price"].mean()
price_by_hood_20

District_Name        Neighbor_Name
Ciutat Vella         Sant Pere, Santa Caterina i la Ribera     895.8
                     el Barri Gòtic                           1041.0
                     el Raval                                  827.3
                     la Barceloneta                            856.5
Eixample             Sant Antoni                               986.1
                                                               ...
Sarrià-Sant Gervasi  Sant Gervasi - la Bonanova               1259.2
                     Sarrià                                   1416.7
                     Vallvidrera, el Tibidabo i les Planes    1078.1
                     el Putxet i el Farró                     1073.3
                     les Tres Torres                          1679.1
Name: Price, Length: 73, dtype: float64

In [33]:
price_by_district_20 = Q2_price_20.groupby(["District_Name"])["Price"].mean()
price_by_district_20

District_Name
Ciutat Vella            905.150000
Eixample               1061.233333
Gràcia                  973.880000
Horta-Guinardó          802.670000
Les Corts              1283.533333
Nou Barris              632.311111
Sant Andreu             778.916667
Sant Martí              929.070000
Sants-Montjuïc          830.114286
Sarrià-Sant Gervasi    1300.950000
Name: Price, dtype: float64

In [34]:
Q2_District_Mean20 = Q2_price_20.groupby(["District_Name"]).mean().sort_values("Price", ascending = False)
Q2_District_Mean20

                     Year  Quarter        Price
District_Name
Sarrià-Sant Gervasi  2020        2  1300.950000
Les Corts            2020        2  1283.533333
Eixample             2020        2  1061.233333
Gràcia               2020        2   973.880000
Sant Martí           2020        2   929.070000
Ciutat Vella         2020        2   905.150000
Sants-Montjuïc       2020        2   830.114286
Horta-Guinardó       2020        2   802.670000
Sant Andreu          2020        2   778.916667
Nou Barris           2020        2   632.311111

In [35]:
Q2_District_Mean20.drop(["Quarter", 'Year'], axis=1, inplace = True)

In [36]:
Q2_District_Mean20

                           Price
District_Name
Sarrià-Sant Gervasi  1300.950000
Les Corts            1283.533333
Eixample             1061.233333
Gràcia                973.880000
Sant Martí            929.070000
Ciutat Vella          905.150000
Sants-Montjuïc        830.114286
Horta-Guinardó        802.670000
Sant Andreu           778.916667
Nou Barris            632.311111

In [37]:
min_price_by_district_20 = Q2_price_20.groupby(["District_Name"])["Price"].min()
min_price_by_district_20

District_Name
Ciutat Vella            827.3
Eixample                943.5
Gràcia                  910.3
Horta-Guinardó          669.9
Les Corts               931.3
Nou Barris              467.8
Sant Andreu             658.7
Sant Martí              665.3
Sants-Montjuïc          672.9
Sarrià-Sant Gervasi    1073.3
Name: Price, dtype: float64

In [38]:
max_price_by_district_20 = Q2_price_20.groupby(["District_Name"])["Price"].max()
max_price_by_district_20

District_Name
Ciutat Vella           1041.0
Eixample               1249.4
Gràcia                 1043.6
Horta-Guinardó          997.3
Les Corts              1822.7
Nou Barris              795.0
Sant Andreu             898.5
Sant Martí             1446.1
Sants-Montjuïc          893.6
Sarrià-Sant Gervasi    1679.1
Name: Price, dtype: float64

In [39]:
std_price_by_district_20 = Q2_price_20.groupby(["District_Name"])["Price"].std()
std_price_by_district_20

District_Name
Ciutat Vella            94.815769
Eixample               117.677486
Gràcia                  50.474271
Horta-Guinardó         103.993056
Les Corts              474.190408
Nou Barris             104.052084
Sant Andreu             83.491495
Sant Martí             212.294586
Sants-Montjuïc          72.839674
Sarrià-Sant Gervasi    227.871857
Name: Price, dtype: float64

In [40]:
Q2_District_Mean20 - Q2_District_Mean19

                         Price
District_Name
Ciutat Vella        -73.150000
Eixample              0.000000
Gràcia               38.400000
Horta-Guinardó        6.890000
Les Corts            15.266667
Nou Barris          -56.008889
Sant Andreu          28.600000
Sant Martí          -72.580000
Sants-Montjuïc       -4.214286
Sarrià-Sant Gervasi  -6.433333

In [41]:
Year_percentage_rent = ((Q2_District_Mean20 - Q2_District_Mean19)/Q2_District_Mean19)*100

In [42]:
name_perc_rent = ['% Variation']

In [43]:
Year_percentage_rent.columns = name_perc_rent

In [44]:
Year_percentage_rent

                     % Variation
District_Name
Ciutat Vella           -7.477256
Eixample                0.000000
Gràcia                  4.104845
Horta-Guinardó          0.865817
Les Corts               1.203743
Nou Barris             -8.137042
Sant Andreu             3.811724
Sant Martí             -7.246044
Sants-Montjuïc         -0.505111
Sarrià-Sant Gervasi    -0.492077

In [45]:
Year_percentage_rent.to_csv('Percentage.csv')

In [46]:
Year_percentage_house = pd.read_csv('Percentatge_house.csv')

In [47]:
Year_percentage_house

         District_Name      Value
0         Ciutat Vella  12.113425
1             Eixample  -9.704308
2               Gràcia   3.960954
3       Horta-Guinardó   1.032553
4            Les Corts  18.356180
5           Nou Barris  13.877791
6          Sant Andreu -19.588107
7           Sant Martí -24.000952
8       Sants-Montjuïc -11.089209
9  Sarrià-Sant Gervasi   1.698108

In [48]:
Prices_rent_vs_house = Year_percentage_rent.merge(Year_percentage_house, on='District_Name')

In [49]:
Prices_rent_vs_house

         District_Name  % Variation      Value
0         Ciutat Vella    -7.477256  12.113425
1             Eixample     0.000000  -9.704308
2               Gràcia     4.104845   3.960954
3       Horta-Guinardó     0.865817   1.032553
4            Les Corts     1.203743  18.356180
5           Nou Barris    -8.137042  13.877791
6          Sant Andreu     3.811724 -19.588107
7           Sant Martí    -7.246044 -24.000952
8       Sants-Montjuïc    -0.505111 -11.089209
9  Sarrià-Sant Gervasi    -0.492077   1.698108

In [50]:
col_names_2 = ["District_Name","Rent Price Variation %","Household price Variation %"]

In [51]:
Prices_rent_vs_house.columns = col_names_2

In [52]:
Prices_rent_vs_house

         District_Name  Rent Price Variation %  Household price Variation %
0         Ciutat Vella               -7.477256                    12.113425
1             Eixample                0.000000                    -9.704308
2               Gràcia                4.104845                     3.960954
3       Horta-Guinardó                0.865817                     1.032553
4            Les Corts                1.203743                    18.356180
5           Nou Barris               -8.137042                    13.877791
6          Sant Andreu                3.811724                   -19.588107
7           Sant Martí               -7.246044                   -24.000952
8       Sants-Montjuïc               -0.505111                   -11.089209
9  Sarrià-Sant Gervasi               -0.492077                     1.698108

In [53]:
price_correlation = Prices_rent_vs_house.corr(method='pearson')

In [54]:
price_correlation

,Rent Price Variation %,Household price Variation %
Rent Price Variation %,1.000000,-0.132832
Household price Variation %,-0.132832,1.000000

In [55]:
unemp_19 = pd.read_csv('../datasets/2019_Atur_per_sexe.csv')
unemp_20 = pd.read_csv('../datasets/2020_Atur_per_sexe.csv')

In [56]:
unemp_19 = unemp_19[unemp_19["Demanda_ocupacio"] == "Atur registrat"]

In [57]:
unemp_19

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2019,1,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,1900
1,2019,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,485
2,2019,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,496
3,2019,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,686
4,2019,1,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,539
...,...,...,...,...,...,...,...,...,...
3473,2019,12,10,Sant Martí,70,el Besòs i el Maresme,Dones,Atur registrat,740
3474,2019,12,10,Sant Martí,71,Provençals del Poblenou,Dones,Atur registrat,512
3475,2019,12,10,Sant Martí,72,Sant Martí de Provençals,Dones,Atur registrat,708
3476,2019,12,10,Sant Martí,73,la Verneda i la Pau,Dones,Atur registrat,800
3477,2019,12,99,No consta,99,No consta,Dones,Atur registrat,14

In [58]:
unemp_20

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,1724
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,491
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,489
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,673
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,542
...,...,...,...,...,...,...,...,...,...
2659,2020,9,10,Sant Martí,70,el Besòs i el Maresme,Dones,Demanda No Aturats,1086
2660,2020,9,10,Sant Martí,71,Provençals del Poblenou,Dones,Demanda No Aturats,870
2661,2020,9,10,Sant Martí,72,Sant Martí de Provençals,Dones,Demanda No Aturats,1227
2662,2020,9,10,Sant Martí,73,la Verneda i la Pau,Dones,Demanda No Aturats,1384
2663,2020,9,99,No consta,99,No consta,Dones,Demanda No Aturats,234

In [59]:
unemp_20 = unemp_20[unemp_20["Demanda_ocupacio"] == "Atur Registrat"]

In [60]:
unemp_20

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
0,2020,1,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,1724
1,2020,1,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,491
2,2020,1,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,489
3,2020,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,673
4,2020,1,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,542
...,...,...,...,...,...,...,...,...,...
2585,2020,9,10,Sant Martí,70,el Besòs i el Maresme,Dones,Atur Registrat,958
2586,2020,9,10,Sant Martí,71,Provençals del Poblenou,Dones,Atur Registrat,648
2587,2020,9,10,Sant Martí,72,Sant Martí de Provençals,Dones,Atur Registrat,885
2588,2020,9,10,Sant Martí,73,la Verneda i la Pau,Dones,Atur Registrat,999
2589,2020,9,99,No consta,99,No consta,Dones,Atur Registrat,80

In [61]:
unemp_wo_Q2_19 = unemp_19.drop(unemp_19[unemp_19.Mes != 6].index)
unemp_wo_Q2_19

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
1480,2019,6,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,1661
1481,2019,6,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,435
1482,2019,6,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,431
1483,2019,6,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,599
1484,2019,6,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,496
...,...,...,...,...,...,...,...,...,...
1697,2019,6,10,Sant Martí,70,el Besòs i el Maresme,Dones,Atur registrat,734
1698,2019,6,10,Sant Martí,71,Provençals del Poblenou,Dones,Atur registrat,497
1699,2019,6,10,Sant Martí,72,Sant Martí de Provençals,Dones,Atur registrat,691
1700,2019,6,10,Sant Martí,73,la Verneda i la Pau,Dones,Atur registrat,781
1701,2019,6,99,No consta,99,No consta,Dones,Atur registrat,9

In [62]:
unemp_wo_Q2_20 = unemp_20.drop(unemp_20[unemp_20.Mes != 6].index)
unemp_wo_Q2_20

,Any,Mes,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Demanda_ocupacio,Nombre
1480,2020,6,1,Ciutat Vella,1,el Raval,Homes,Atur Registrat,2542
1481,2020,6,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur Registrat,678
1482,2020,6,1,Ciutat Vella,3,la Barceloneta,Homes,Atur Registrat,671
1483,2020,6,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur Registrat,920
1484,2020,6,2,Eixample,5,el Fort Pienc,Homes,Atur Registrat,754
...,...,...,...,...,...,...,...,...,...
1697,2020,6,10,Sant Martí,70,el Besòs i el Maresme,Dones,Atur Registrat,978
1698,2020,6,10,Sant Martí,71,Provençals del Poblenou,Dones,Atur Registrat,650
1699,2020,6,10,Sant Martí,72,Sant Martí de Provençals,Dones,Atur Registrat,886
1700,2020,6,10,Sant Martí,73,la Verneda i la Pau,Dones,Atur Registrat,1000
1701,2020,6,99,No consta,99,No consta,Dones,Atur Registrat,112

In [63]:
unemp_names = ['Year', 'Month', 'District_Code', 'District_Name', 'Neighbor_Code', 'Neighbor_Name', 'Sex', 'occupational_demand', 'Total']

In [64]:
unemp_wo_Q2_19.columns = unemp_names

In [65]:
unemp_wo_Q2_20.columns = unemp_names

In [66]:
unemp_wo_Q2_19

,Year,Month,District_Code,District_Name,Neighbor_Code,Neighbor_Name,Sex,occupational_demand,Total
1480,2019,6,1,Ciutat Vella,1,el Raval,Homes,Atur registrat,1661
1481,2019,6,1,Ciutat Vella,2,el Barri Gòtic,Homes,Atur registrat,435
1482,2019,6,1,Ciutat Vella,3,la Barceloneta,Homes,Atur registrat,431
1483,2019,6,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Homes,Atur registrat,599
1484,2019,6,2,Eixample,5,el Fort Pienc,Homes,Atur registrat,496
...,...,...,...,...,...,...,...,...,...
1697,2019,6,10,Sant Martí,70,el Besòs i el Maresme,Dones,Atur registrat,734
1698,2019,6,10,Sant Martí,71,Provençals del Poblenou,Dones,Atur registrat,497
1699,2019,6,10,Sant Martí,72,Sant Martí de Provençals,Dones,Atur registrat,691
1700,2019,6,10,Sant Martí,73,la Verneda i la Pau,Dones,Atur registrat,781
1701,2019,6,99,No consta,99,No consta,Dones,Atur registrat,9

In [67]:
unemp_wo_Q2_19.drop(["Year","Month","District_Code", "Neighbor_Code", "Neighbor_Name","Sex","occupational_demand"], axis=1, inplace = True)

In [68]:
unemp_wo_Q2_19

     District_Name  Total
1480  Ciutat Vella   1661
1481  Ciutat Vella    435
1482  Ciutat Vella    431
1483  Ciutat Vella    599
1484      Eixample    496
...            ...    ...
1697    Sant Martí    734
1698    Sant Martí    497
1699    Sant Martí    691
1700    Sant Martí    781
1701     No consta      9

[148 rows x 2 columns]

In [69]:
Q2_unemp_District_Mean19 = unemp_wo_Q2_19.groupby(["District_Name"]).mean().sort_values("Total", ascending = False)

In [70]:
Q2_unemp_District_Mean19

                          Total
District_Name
Eixample             736.166667
Ciutat Vella         731.750000
Sant Martí           519.550000
Sants-Montjuïc       492.125000
Sant Andreu          479.857143
Les Corts            428.000000
Gràcia               424.900000
Nou Barris           349.307692
Horta-Guinardó       319.318182
Sarrià-Sant Gervasi  268.916667
No consta              7.000000

In [71]:
unemp_wo_Q2_20.drop(["Year","Month","District_Code", "Neighbor_Code", "Neighbor_Name","Sex","occupational_demand"], axis=1, inplace = True)

In [72]:
unemp_wo_Q2_20

     District_Name  Total
1480  Ciutat Vella   2542
1481  Ciutat Vella    678
1482  Ciutat Vella    671
1483  Ciutat Vella    920
1484      Eixample    754
...            ...    ...
1697    Sant Martí    978
1698    Sant Martí    650
1699    Sant Martí    886
1700    Sant Martí   1000
1701     No consta    112

[148 rows x 2 columns]

In [73]:
Q2_unemp_District_Mean20 = unemp_wo_Q2_20.groupby(["District_Name"]).mean().sort_values("Total", ascending = False)

In [74]:
Q2_unemp_District_Mean20

                           Total
District_Name
Ciutat Vella         1117.125000
Eixample             1062.666667
Sant Martí            715.850000
Sants-Montjuïc        694.062500
Sant Andreu           636.785714
Gràcia                625.700000
Les Corts             590.833333
Nou Barris            473.961538
Horta-Guinardó        448.954545
Sarrià-Sant Gervasi   374.333333
No consta             107.500000

In [75]:
year_percentage_unemp = ((Q2_unemp_District_Mean20 - Q2_unemp_District_Mean19) / Q2_unemp_District_Mean19) * 100
year_percentage_unemp

                           Total
District_Name
Ciutat Vella           52.664845
Eixample               44.351370
Gràcia                 47.258178
Horta-Guinardó         40.597865
Les Corts              38.045171
No consta            1435.714286
Nou Barris             35.685972
Sant Andreu            32.703185
Sant Martí             37.782697
Sants-Montjuïc         41.033782
Sarrià-Sant Gervasi    39.200496

In [76]:
year_percentage_unemp_f = year_percentage_unemp.drop('No consta')

In [77]:
year_percentage_unemp_f

                         Total
District_Name
Ciutat Vella         52.664845
Eixample             44.351370
Gràcia               47.258178
Horta-Guinardó       40.597865
Les Corts            38.045171
Nou Barris           35.685972
Sant Andreu          32.703185
Sant Martí           37.782697
Sants-Montjuïc       41.033782
Sarrià-Sant Gervasi  39.200496

In [78]:
year_percentage_unemp_f.mean()

Total    40.932356
dtype: float64

In [79]:
rent_vs_unemp = Year_percentage_rent.merge(year_percentage_unemp_f, on='District_Name')

In [80]:
rent_vs_unemp

                     % Variation      Total
District_Name
Ciutat Vella           -7.477256  52.664845
Eixample                0.000000  44.351370
Gràcia                  4.104845  47.258178
Horta-Guinardó          0.865817  40.597865
Les Corts               1.203743  38.045171
Nou Barris             -8.137042  35.685972
Sant Andreu             3.811724  32.703185
Sant Martí             -7.246044  37.782697
Sants-Montjuïc         -0.505111  41.033782
Sarrià-Sant Gervasi    -0.492077  39.200496

In [81]:
rent_vs_unemp_corr = rent_vs_unemp.corr(method='pearson')

In [82]:
rent_vs_unemp_corr

             % Variation     Total
% Variation     1.000000 -0.127005
Total          -0.127005  1.000000

In [83]:
name_19 = ["AVG_Rent_Price_19"]

In [84]:
Q2_District_Mean19.columns = name_19

In [85]:
Q2_District_Mean19

                     AVG_Rent_Price_19
District_Name
Sarrià-Sant Gervasi        1307.383333
Les Corts                  1268.266667
Eixample                   1061.233333
Sant Martí                 1001.650000
Ciutat Vella                978.300000
Gràcia                      935.480000
Sants-Montjuïc              834.328571
Horta-Guinardó              795.780000
Sant Andreu                 750.316667
Nou Barris                  688.320000

In [86]:
name_20 = ["AVG_Rent_Price_20"]

In [87]:
Q2_District_Mean20.columns = name_20

In [88]:
Q2_District_Mean20

                     AVG_Rent_Price_20
District_Name
Sarrià-Sant Gervasi        1300.950000
Les Corts                  1283.533333
Eixample                   1061.233333
Gràcia                      973.880000
Sant Martí                  929.070000
Ciutat Vella                905.150000
Sants-Montjuïc              830.114286
Horta-Guinardó              802.670000
Sant Andreu                 778.916667
Nou Barris                  632.311111

In [89]:
means_table = Q2_District_Mean19.merge(Q2_District_Mean20, on = 'District_Name')

In [90]:
means_table

                     AVG_Rent_Price_19  AVG_Rent_Price_20
District_Name
Sarrià-Sant Gervasi        1307.383333        1300.950000
Les Corts                  1268.266667        1283.533333
Eixample                   1061.233333        1061.233333
Sant Martí                 1001.650000         929.070000
Ciutat Vella                978.300000         905.150000
Gràcia                      935.480000         973.880000
Sants-Montjuïc              834.328571         830.114286
Horta-Guinardó              795.780000         802.670000
Sant Andreu                 750.316667         778.916667
Nou Barris                  688.320000         632.311111

In [91]:
means_table_var = means_table.merge(Year_percentage_rent, on='District_Name')

In [92]:
means_table_var

                     AVG_Rent_Price_19  AVG_Rent_Price_20  % Variation
District_Name
Sarrià-Sant Gervasi        1307.383333        1300.950000    -0.492077
Les Corts                  1268.266667        1283.533333     1.203743
Eixample                   1061.233333        1061.233333     0.000000
Sant Martí                 1001.650000         929.070000    -7.246044
Ciutat Vella                978.300000         905.150000    -7.477256
Gràcia                      935.480000         973.880000     4.104845
Sants-Montjuïc              834.328571         830.114286    -0.505111
Horta-Guinardó              795.780000         802.670000     0.865817
Sant Andreu                 750.316667         778.916667     3.811724
Nou Barris                  688.320000         632.311111    -8.137042

In [96]:
means_table_var.to_excel('renttable.xlsx')

ModuleNotFoundError: No module named 'openpyxl'